<nav class="navbar navbar-inverse navbar-toggleable-sm fixed-top">
    <div class="container">


        <!-- Adding the toggle button; data-toggle is a Bootstrap JS component  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Branding information with this class -->
        <!-- Logo size adapted to navbar-brand -->
        <a class="navbar-brand" routerLink>
            <h2>Link Comb</h2>
        </a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink='/favorites'>
                        <span class="fa fa-star fa-lg"></span> Favorites</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink='/links'>
                        <span class="fa fa-link fa-lg"></span> My Links</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" href="#">
                        <span class="fa fa-map-signs fa-lg"></span> The Web Dev Map (Work in progress)</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a id="logout"class="nav-link" routerLink='/landing-page'>
                    <span class="fa fa-sign-out"></span> Logout
                </a>
            </span>
        </div>

    </div>
</nav>